@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
.container-web {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.container-mid {
    width: 100%;
    max-width: 1140px;
    margin: auto;
}
/*-----------------HEADER------------------*/
header {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(199, 198, 198);
}

/*------------------CONTAINER-HEAD-------------------*/
.container-head__logo-name {
    color: #4d6e80;
    font-weight: 300;
    font-size: 40px;
    margin: 0;
}
.container-head__list {
    display: flex;
    justify-content: center;
    padding: 0;
}
.container-head__item {
    list-style: none;
}
.container-head__item :hover {
    border: 1px solid #4d6e80;
}
.container-head__url-nav {
    text-decoration: none;
    color: #1f2d36;
    padding: 5px 18px;
    border: 1px solid transparent;
    font-size: 14px;
    color: #1f2d36;
    font-weight: 300;
}
/*-----------------MAIN------------------*/
main {
    width: 100%;
}
.clearfix {
    clear: both;
}
/*-----------------BLOCK-ONE---------------------*/
.block-one {
    padding: 10px 0 80px;
}
.block-one__title {
    font-size: 40px;
    font-weight: 300;
    color: #4d6e80;
}
.block-one__title-two  {
    margin: 10px 0 0 20px;
    font-size: 18px;
}
.block-one__title-url {
    text-decoration: none;
    margin: 0;
    color: #7e8487;
    font-weight: 100;
}
.block-one__paragraph {
    margin: 10px 0 20px 20px;
    color: #7e8487;
    font-weight: 100;
    font-size: 14px;
}
.block-one__content {
    display: flex;
}
.block-one__content-two {
    display: flex;
}
.block-one__article {
    border: 1px solid #c0c0c0;
    margin: 0 20px 20px 0;
}
/*---------------------FOOTER----------------------------*/
/*---------------------CONTACT----------------------------*/
.contact {
    background-image: url(../img/socials-bg.jpg);
    background-repeat: none;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    padding: 70px 0 70px 0;
}
.contact__title {
    font-size: 36px;
    line-height: 72px;
    padding-bottom: 24px;
    color: #ffffff;
    margin: 0;
    font-weight: 800;
}
.contact__paragraph {
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
    padding-bottom: 35px;
    margin: 0;
    line-height: 30px;
}
.contact__icon {
    color: #ffffff;
    font-size: 50px;
    margin: 20px;
}
.contact__icon :hover {
    color: #7e8487;
}
/*---------------------PRIVACY POLICY----------------------------*/
.privacy-policy {
    padding: 15px 0;
}
.privacy-policy__paragraph {
    color: #7e8487;
}
.privacy-policy__paragraph :hover {
    color: #4d6e80;
    border-bottom: 1px solid #4d6e80;
}
.privacy-policy__link {
    color: #7e8487;
    text-decoration: none;
}

/*---------------------TABLET----------------------------*/


/*---------------------SMARTPHONE----------------------------*/
@media screen and (max-width: 500px) and (min-width: 320px) {
    .container-mid {
        width: 95%;
    }
    /*HEADER*/
    .container-head__list {
        display: block;
    }
    .container-head__url-nav {
        font-size: 20px;
    }
    /*BLOCK-ONE*/
    .block-one {
        padding-bottom: 20px;
    }
    .block-one__image {
        width: 100%;
    }
    .block-one__article {
        margin: 0 0 20px 0;
    }
    .block-one__content {
        display: block;
    }
    .block-one__content-two {
        display: block;
    }
}   